.App {
  display: block;
  /* flex-wrap: wrap; */
  text-align: center;
  margin:1px;
  background: lightgrey;
  padding-bottom:195px;
}

.SignUp{
  margin: 90px;
  padding-bottom:295px;
}

.Toolbar{
border: groove;
margin: 5px;
background: gray
}

a{
  margin: 35px
}

p{
  margin: 0px;
}

form{ 
  margin:38px
}

.Homepage{
  display: block;
  
}

.App-link {
  color: #09d3ac;
}
